<nav class="navbar navbar-expand-xl navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="">Vuurwerkfolderinfo</a>

        <!-- Responsive toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
            aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible navbar -->
        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link" href="productlist/aldi2023"><b><s>Aldi 2023/2024</s></b></a>
                    <a class="nav-link" href="productlist/aldi2022">Aldi 2022/2023</a>
                </li>
                <li class="nav-item">
                    <a disabled class="nav-link" href="productlist/lidl2023"><b><s>Lidl 2023/2024</s></b></a>
                    <a disabled class="nav-link" href="productlist/lidl2022">Lidl 2022/2023</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="productlist/penny2023"><b><s>Penny 2023/2024</s></b></a>
                    <a class="nav-link" href="productlist/penny2022">Penny 2022/2023</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="productlist/postenborse2023"><b><s>Posten Börse 2023/2024</s></b></a>
                    <a class="nav-link" href="productlist/postenborse2022"><s>Posten Börse 2022/2023</s></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="productlist/rewe2023"><b><s>Rewe 2023/2024</s></b></a>
                    <a class="nav-link" href="productlist/rewe2022"><s>Rewe 2022/2023</s></a>
                </li>
            </ul>
        </div>
    </div>
</nav>