<div class="card" *ngFor="let product of getProduct(); index as i">
    <div class="embed-responsive w-100">
        <iframe *ngIf="product.ytUrl" class="embed-responsive-item w-100 h-100"
            [src]="'https://www.youtube.com/embed/' + product.ytUrl | safe:'resourceUrl'" allowfullscreen>
        </iframe>

        <div *ngIf="!product.ytUrl" class="d-grid align-items-center text-center not-found">
            <h5>Geen video beschikbaar</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="card-title fw-bold" *ngIf="product.name">{{ product.name }}</h2>
                        <h4 class="card-text fw-bold" *ngIf="product.price">€ {{ product.price }}</h4>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="row" *ngIf="product.cat">
                            <div class="col-5">
                                <span class="product-info">Cat:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.cat }}</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.brand">
                            <div class="col-5">
                                <span class="product-info">Merk:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.brand }}</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.shots">
                            <div class="col-5">
                                <span class="product-info">Schoten:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.shots }}</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.caliber">
                            <div class="col-5">
                                <span class="product-info">Kaliber:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.caliber }} mm</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.effectHeight">
                            <div class="col-5">
                                <span class="product-info">Effect hoogte:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.effectHeight }} m</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.powderWeight">
                            <div class="col-5">
                                <span class="product-info">Kruitgewicht:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.powderWeight }} kg</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.grossWeight">
                            <div class="col-5">
                                <span class="product-info">Bruto gewicht:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.grossWeight }} kg</span>
                            </div>
                        </div>

                        <div class="row" *ngIf="product.burningTime">
                            <div class="col-5">
                                <span class="product-info">Brandduur:</span>
                            </div>
                            <div class="col-7">
                                <span class="product-info-answer">{{ product.burningTime }} seconden</span>
                            </div>
                        </div>

                        <div class="row pt-2" *ngIf="product.description">
                            <div class="col-12">
                                <span class="text-danger">{{ product.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center justify-content-center" *ngIf="product.image">
                <img class="img-fluid" [src]="product.image | safe:'url'" alt="Product foto">
            </div>
        </div>
    </div>
</div>