* {
    #headline {
        min-height: 50vh;

        h1 {
            font-weight: 700;
            color: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }

        h5 {
            font-weight: 400;
            color: #fff;
            text-align: center;
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
    }
}
