@font-face {
    font-family: "Firecracker";
    src: local("Firecracker"), url(./assets/fonts/firecracker.ttf) format("truetype");
}
body {
    background-color: #343a40;
    color: black;

    h1 {
        color: white
    }
}

img {
    pointer-events: none;
}