<div class="container pt-5">
    <!-- cakes -->
    <div id="cakes" class="pb-5 row row-cols-1 row-cols-sm-2 g-3" *ngIf="getProducts()[0].cakes.length != 0">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Cakes</h1>
        </div>
        <div class="col" *ngFor="let product of getProducts()[0].cakes; index as i;">
            <app-firework-card [product]="[product]"></app-firework-card> <!-- Send product as array -->
        </div>
    </div>

    <!-- fontains -->
    <div id="fontains" class="pb-5 row row-cols-1 row-cols-sm-2 g-3" *ngIf="getProducts()[0].fontains.length != 0">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Fonteinen</h1>
        </div>
        <div class="col" *ngFor="let product of getProducts()[0].fontains; index as i;">
            <app-firework-card [product]="[product]"></app-firework-card> <!-- Send product as array -->
        </div>
    </div>

    <!-- bang -->
    <div id="rockets" class="pb-5 row row-cols-1 row-cols-sm-2 g-3" *ngIf="getProducts()[0].bang.length != 0">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Knal</h1>
        </div>
        <div class="col" *ngFor="let product of getProducts()[0].bang; index as i;">
            <app-firework-card [product]="[product]"></app-firework-card> <!-- Send product as array -->
        </div>
    </div>

    <!-- rockets -->
    <div id="rockets" class="pb-5 row row-cols-1 row-cols-sm-2 g-3" *ngIf="getProducts()[0].rockets.length != 0">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Vuurpijlen</h1>
        </div>
        <div class="col" *ngFor="let product of getProducts()[0].rockets; index as i;">
            <app-firework-card [product]="[product]"></app-firework-card> <!-- Send product as array -->
        </div>
    </div>

    <!-- package -->
    <div id="rockets" class="pb-5 row row-cols-1 row-cols-sm-2 g-3" *ngIf="getProducts()[0].package.length != 0">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Pakketten</h1>
        </div>
        <div class="col" *ngFor="let product of getProducts()[0].package; index as i;">
            <app-firework-card [product]="[product]"></app-firework-card> <!-- Send product as array -->
        </div>
    </div>

</div>