* {
    #cakes {
        .embed-responsive {
            height: 350px;
        }

        .product-info {
            //product title text
            font-size: 1.2rem;
            font-weight: 500;
            color: #000;
        }

        .product-info-answer {
            font-size: 1.1rem;
        }
    }
}